[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C=ES
ST=Extremadura
L=Valencia del Ventoso
O=Cosmos Rol
CN=79.145.123.81

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 79.145.123.81
IP.2 = 127.0.0.1
DNS.1 = localhost
DNS.2 = cosmosrol.com
DNS.3 = www.cosmosrol.com
